.header {
    grid-area: h;
    background-color: black;
    border: 2px solid black;
}
.logoBlock{
    display: inline-block;
    font-size: 32px;
    color: gold;
}

.loginBlock {
    font-size: 22px;
    float: right;
}

.loginBlock a {
    color: yellow;
}