.nav {
    padding-top: 20px;
    padding-left: 40px;
    font-size: 22px;
    text-align: left;
    line-height: 40px;
    width: 200px;
    grid-area: n;
    background-color: #e0d488;
}

.item a {
    text-decoration: none;
    color: black;
}

.item a:hover {
    font-size: 24px;

}

.item a:active {

    color: gold;
}
